header {
    height: 80px;
    background-color: #ffffff; 
    color: #fff; 
  }

  .main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .left-links a,.left-links span, .right-links span {
    color: #000000;
    text-decoration: none;
    margin-inline: 60px;
    transition: font-size 0.3s ease;
  }
  .left-links a:hover, .right-links span:hover {
    font-size: 18px;
    color: #304674;
  }

  .custom{
    font-size: 20px;
    font-style: oblique;
  }
  .link{
    display: flex;
  }