
<div class="containerr">

    <div class="rows">
        <div class="contents">
        
            <div class="descrip">
                <div class="one" >Empower Your Productivity: </div>
                <div>The Power of Seamless Task Management</div>
                
            </div>
            <div>
                <a routerLink="signin" style="margin: 10px;" class=" btn  btn-lg active " role="button">Sign In</a>
                <a routerLink="signup" style="margin: 10px;" class=" btn btn-lg active " role="button">Sign Up</a>
            </div>

        </div> 
            
       
    </div>

</div>
